*, *:before, *:after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%; /*С шириной не понятно. По пиксель-перфекту получается 90%, хотя логичнее, мне кажется, если ширана будет 100%*/
    min-width: 1200px;
    margin: 0 auto;
    background-color: #b07cf7;
    font-family: 'Raleway';
    padding-top: 100px;
    padding-bottom: 120px;
}
.section_header {
    text-align: center;
    color: #fff;
    width: 600px;
    margin: 0 auto 45px;
}
.white {
    font-weight: 700;
    font-size: 90px;
    line-height: 25px;
    margin-bottom: 63px;
}
.header_p {
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
}
.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;

}
.article {
    position: relative;
    transition: all 0.5s ease;
    color: #fff;
    box-shadow: 0px 5px 20px 3px #6a4b95;
    
}
.article:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.article:hover .date
{
    top: 30px;
    left: 30px;
    z-index: 20;
    opacity: 0.8;
}
.picture {
    width: 370px;
    height: 310px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    
}

.picture:after {
    content: "";
    width: 370px;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #DFDFDD03 59%, #010303FA 96%);
    opacity: 1.1;
    
}
.article_content {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 30px;
    line-height: 25px;
}
.date {
    position: absolute;
    width: 60px;
    height: 60px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 25px;
    font-size: 32px;
    background-color: #494f5a;
    text-transform: uppercase;
    text-align: center;
    top: 0;
    left: 0;
    z-index: -10;
    transition: all 0.5s ease;

}
.date span {
    font-size: 21px;
} 
.article_content h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    
}
.article_content p {
    font-weight: 300;
    font-size: 13px;
}

.btn {
    width: 200px;
    height: 55px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.red {
    background-color: #f72b3b;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 5px 20px 3px #6a4b95;
}
.red:hover {
    background-color: #9e0202;
    box-shadow: 0px 3px 5px 2px #6a4b95;
}