*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Lato";
  font-size: 1rem;
  min-width: 350px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  background: url(../images/header-bg.png) right center/cover no-repeat;
  height: 100vh;
  min-height: 733px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header:before {
  content: "";
  width: 23px;
  height: 37px;
  border: 2px solid #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
}
header:after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: calc(8vh - -24px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
header .header__content {
  width: 90%;
  max-width: 600px;
  text-align: center;
}
header .header__content-logo {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 80px;
}
header .header__content-title {
  color: #fff;
  text-transform: uppercase;
}
header .header__content-title h1 {
  font-size: 3.375rem;
  letter-spacing: 8px;
  margin-bottom: 30px;
}
header .header__content-title p {
  font-size: 0.9375rem;
  line-height: 30px;
  letter-spacing: 1px;
}

main .about {
  padding: 140px 0 160px 0;
}
main .content {
  border: 2px solid #000;
  text-align: center;
  padding: 55px 180px 0 180px;
  position: relative;
}
main .content .content__title {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
main .content .content__title h2 {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 0 105px;
}
main .content p {
  margin-bottom: 20px;
  line-height: 24px;
}