*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clr {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    
}
.main-wrapper--white {
    width: 100%;       
    background-image: url(../images/bgi-1-2.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain; 

}
.main-content {
    width: 100%;  
    max-width: 1200px;  
    font-family: 'Raleway';
    margin: 0 auto;
    padding-top: 50px;
}

.main-content__logo {
    float: left;
}
.main-content__navigation {
    float: right;    
}

.navigation-list, .navigation-list__item {
    display: inline-block;
}
.navigation-list__item {
    width: 100px;
    height: 40px;    
    text-align: center;
    padding-top: 15px;
    position: relative;
    &--link {
        display: block;        
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        width: 100px;
        height: 40px;
        &:before {
            content: '';
            position: absolute;
            border-bottom: 3px solid #ff6033;;
            width: 50px;
            z-index: -1;
            
        }        
    }
}
.navigation-list__item:hover :before {
            z-index: 20;
 }
.main-content__header {
    margin-bottom: 265px;
}
.content-block__item--white {
    width: 400px;
}
.content-block__title--black {
    font-weight: 900;
    font-size: 60px;
    line-height: 25px;
    margin-bottom: 30px;
}
.content-block__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 30px;
}
.content-block__button {
    width: 200px;
    height: 55px;
    border: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.content-block__button--orange {
    background-color: #ff6033;
    color: #fff;
    box-shadow: 0px 4px 5px 1px #827D7A;
    margin-bottom: 400px;
    &:hover {
        background-color: #aa2804;
        box-shadow: 0px 2px 2px 1px #827D7A;
    }
}
.main-wrapper--bleu {
    width: 100%;
    background-color: #00b0b0;
}
.content-block__item--blue {
    width: 100%;    
    background-image: url(../images/bgi-2.png);
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 160px;
}
.content-block__wrapper {
    float: right;
    width: 510px;
    margin-bottom: 210px;
}
.content-block__title--white {
    font-weight: 700;
    font-size: 90px;
    line-height: 27px;    
    margin-bottom: 40px;
}
.content-block__text--white {
   margin-bottom: 20px;
}