@font-face {
    font-family: HansKendrik;
    src: url(../fonts/HansKendrick-Regular.woff);
    src: url(../fonts/HansKendrick-Regular.woff2);
}
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #e2e7ec;
    font-family: HansKendrik;
}
img {
    vertical-align: top;
    width: 100%;
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 70px;
}
.w-66 {
    width: calc(66.6666% - 10px);
    
}
.w-33 {
    width: calc(33.3333% - 20px);
    height: 540px;
    background-color: #fff;
    position: relative;
    
}
.icon {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.main_car {
    position: relative;
    
}
.main_car::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(#fff, #292929);
    opacity: 0.1;
    
}

.main_car h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
}
.content-w-66 {
    position: absolute;
    z-index: 30;
    bottom: 40px;
    left: 40px;
    width: 450px;        
}

.content-w-66 p {
    padding-left: 5px;
    margin-bottom: 5px;
}
p {
    font-size: 13px;
    line-height: 30px;
    color: #818181;
    padding: 20px 20px 0;
    margin-bottom: 10px;
    
    
}
h3 {
    font-size: 22px;
    line-height: 30px;
    padding: 0 20px; 
}
footer {
    text-align: center;
}
footer .load {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: -15px;
    
   
}
footer p {
    display: inline-block;

}