$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
    width: 100%;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: aquamarine;
    // background: url();
    height: 100vh;
    min-height: 733px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before {
        content: '';
        width: 23px;
        height: 37px;
        border: 2px solid #fff;
        border-radius: 15px;
        position: absolute;
        bottom: 8vh;
        left: 50%;
        transform: translateX(-50%);
    }
    &:after {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        bottom: calc(8vh - 23px);
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;

    } 
    .header__content {
        width: 90%;
        max-width: 600px;
        text-align: center;
        &-logo {
            width: 70px;
            height: 70px;
            margin: 0 auto;
            margin-bottom: 90px;
        }
        &-title {
            color: #fff;
            text-transform: uppercase;
            h1 {
            @include fz(54);            
            letter-spacing: 1px;
            margin-bottom: 50px;
            }
            p {
                @include fz(15);
                line-height: 30px;
                
            }
        }
    }
}
.about {
    padding: 140px 0 160 px 0;
}
.content {
    border: 2px solid #000;
    text-align: center;
    padding: 55px 180px 0 180px;
    position: relative;    
    .contant__title {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        h2 {
            @include fz(34);
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: #fff;
            padding: 0 105px;
        }
    }
    p {
        margin-bottom: 20px;
        line-height: 24px;
    }
}

.about {
    padding: 140px 0 160 px 0;
}
.content {
    background-color: cyan;
    border: 2px solid #000;
    border-top: none;
    text-align: center;
    padding: 55px 180px 0 180px;
    position: relative;    
    .contant__title {
        position: absolute;
        top: -20px;
        width: 100%;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            background-color: #000;
            width: calc(50% - 210px);
            min-width: 20px;
            top: 50%;
            margin-top: -1px;
            }
        &:before {
            left: -2px;
        }
        &:after {
            right: -2px;
        }
        h2 {
            @include fz(34);
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: #fff;
            padding: 0 105px;
            white-space: nowrap;
        }
    }
    p {
        margin-bottom: 20px;
        line-height: 24px;
    }
}