*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}
.jq-checkbox {
    border-radius: 0;
    width: 24px;
    height: 24px;
    background: #343434;
    border: none;
    &.focused {
        border: none;
        background-color: blue;
    }
    &.checked {
        .jq-checkbox__div {
            width: 11px;
            height: 11px;
            margin: 5px 0 0 6px;
            border-bottom: 3px solid #fff;
            border-left: 3px solid #fff;

        }
    }
}
.jq-radio {
    width: 24px;
    height: 24px;
    background: #343434;
    border: none;
    box-shadow: none;
    &.focused {
        border: none;
        background-color: blue;
    }
    &.checked {
        .jq-radio__div {
            width: 12px;
            height: 12px;
            margin: 6px 0 0 6px;
            background: #fff;
            box-shadow: none;
        }
    }
}
.jq-selectbox {
    &__select {
        height: 45px;
        padding: 5px 45px 0 10px;
        background: #343434;
        box-shadow: none;
        border-bottom-color: #000;
        border: 1px solid #000;
        text-shadow: none;
        color: #fff;
        &:hover {
            background: blue;
        }
    }
    &__trigger {
        border-left: none;
        &-arrow {
            top: 19px;
            border-top-color: #fff;
        }
    }
}