$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    transition: all .5s ease;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: 'Poppins';
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    &:focus {
        border: 2px solid transparent;
    }
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header_text{
    padding-top: 60px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
    .subtext {
        font-weight: 600;
        @include fz(18);        
        line-height: 19px;
        text-align: center;
        margin-bottom: 35px;
    }
    .header_title {
        font-weight: 400;
        @include fz(60);        
        line-height: 90px;
        text-align: center;
    }
}
.slider_light {
    margin-bottom: 100px;
    text-transform: uppercase;
    color: #fff;
    line-height: 24px;
    #slider_1 {
        .pic_wrap{            
            .picture{                
            position: relative;
                &:after {                            
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;        
                z-index: 10;
                background-color: rgba(27, 241, 173, .9);
                opacity: 0;   
                }
                &:hover:after{
                opacity: 1;
                }
                
            }
            .pic_content {
                position: absolute;                
                z-index: 3000;
                bottom: 30px;
                padding-left: 20px;
                h4 {
                    @include fz(24);                    
                    font-weight: 400;
                    width: 70%;
                }
                p {                    
                    @include fz(12);
                }             
            }
        }
    }
}
.lSSlideOuter .lSPager.lSpg {
    display: none;
}
