* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
ol {
    list-style: none;
}
#panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(123,123,123,.7);
    padding: 20px 50px;
    font-size: 18px;
    z-index: 100000;
    &.info {
        background-color: rgba(0,183,255,.7);
    }
    &.success {
        background-color: rgba(95, 224, 95, 0.7);
    }
    &.warning {
        background-color: rgba(247, 181, 1, 0.993);
    }
    &.danger {
        background-color: rgba(236, 11, 30, 0.7);
    }
    
    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        font-size: 26px;
        font-weight: 600;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            color: red;
        }
    }
}

#bill_list {
    .prod_item {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr;
        gap: 0px 0px;               
        .name {
            font-weight: 700;           
                 
        } 
    }
    .sum {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ; 
        grid-template-rows: 1fr;
        gap: 0px 0px;
        font-size: 24px;
        .total_title {
            font-weight: 700;            
            grid-column: 1 / span 2; 
        }
    }    
}
