* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
    background-color: #3b3f45;
    border: 20px solid #fff;
}

header,
footer {
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}
section {
    font-size: 24px;
    line-height: 32px;
    color: #f9f9f6;
    width: 658px;
    margin: 0 auto 20px;
}
small {
    font-size: 16px;
}

.check {
    height: 44px;
    cursor: pointer;
    padding-top: 5px;
}
.check:active {
    background-color: tomato;
}

.checklist .checkbox:nth-child(even) {
    background-color: #7a7593;
}
.checklist .checkbox:nth-child(odd) {
    background-color: #88839e;
}
.checkbox {
    display: inline-block;
    position: relative;
    width: 658px;
    height: 50px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.checkbox:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
input {
    margin-top: 15px;
}
label {
    cursor: pointer;
    font-weight: normal;
    line-height: 20px;
    vertical-align: middle;
}
label:before {
    content: " ";
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
}

input:checked + label span:before {
    content: " ";
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 40px;
    width: 67%;
    height: 50%;
}
input:checked + label::before {
    content: ">";
    color: #000;
    transform: rotate(90deg);
    font-weight: 700;
}

footer {
    width: 658px;
    margin: 0 auto;
    font-size: 20px;
}
