@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e5hfzt');
  src:  url('fonts/icomoon.eot?e5hfzt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e5hfzt') format('truetype'),
    url('fonts/icomoon.woff?e5hfzt') format('woff'),
    url('fonts/icomoon.svg?e5hfzt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-format_color_text:before {
  content: "\e900";
}
.icon-image:before {
  content: "\e90d";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-text-color:before {
  content: "\ea6d";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
