*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease-in-out;
}
html,
body {
    width: 100%;
    height: 100%;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: url(../images/fon_29.jpg) center center/cover no-repeat;
    padding-top: 50px;
}
h1 {
    margin-bottom: 30px;
    color: #000080;
}
.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;    
    .main-lesson {        
        display: grid;    
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));                
        gap: 20px;
        .lesson-block {
            width: 200px;
            height: 160px;
            border: 2px solid #1E90FF;
            background-color: #66CDAA;
            opacity: 70%;
            box-shadow: 0px 4px 5px 1px #0000FF;
            padding-top: 10px;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            .lesson-block__title {
                color: #0000CD;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 20px;
            }
            .lesson-block__list {
                .lesson-list__item {
                    margin-bottom: 5px;                    
                    width: 98%;
                    height: 30px;                    
                    &--link {
                        color: #000000;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 25px;
                        width: 195px;
                        height: 100%;
                        cursor: pointer;
                        border: 2px solid transparent;
                        &:hover {
                            border: 2px solid #008000;
                            background-color: #98FB98;
                            border-radius: 10px;
                        }
                    }                    
                }
            }            
        }
    }
}
