*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: url(../images/fon_29.jpg) center center/cover no-repeat;
    padding-top: 50px;
}
h1 {
    margin-bottom: 30px;
    color: #000080;
}
.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;    
    .main-lesson {
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-between;              
        gap: 20px;
        .lesson-block {
            width: 200px;
            height: 160px;
            border: 2px solid #1E90FF;
            background-color: #66CDAA;
            opacity: 70%;
            box-shadow: 0px 4px 5px 1px #0000FF;
            padding-top: 10px;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            .lesson-block__title {
                color: #0000CD;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .lesson-block__list {
                .lesson-list__item {
                    margin-bottom: 5px;                    
                    width: 198px;
                    height: 30px;
                    display: flex;
                    justify-content: space-around;
                    &--link {
                        color: #000000;
                        width: 200px;
                        height: 100%;
                        cursor: pointer;
                        &:hover {
                            border: 2px solid #006400;
                            background-color: #98FB98;
                        }
                    }                    
                }
            }            
        }
    }
}
