*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins";
  font-size: 1rem;
  min-width: 350px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:focus {
  border: 2px solid transparent;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}