* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Raleway", "Open sans", Ubuntu, Arial sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

.feachers {
    background-color: #1d1c1c;
    padding-top: 108px;
    padding-bottom: 102px;
}
.feacher_item {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 0 20px;
}
.feacher_pic {
    width: 80px;
    height: 80px;
    background-color: #ffae00;
    text-align: center;
    border-radius: 18px 0 18px 0;
    line-height: 80px;
    margin: 0 auto 37px;
}
.feacher_pic:hover {
    background-color: aquamarine;
}

.feacher_pic img {
    display: inline-block;
    vertical-align: middle;
}
.feacher_title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 25px;
    font-weight: normal;
}

/*.fp_1 img {
    position: relative;
    left: 2px;
}*/
.kasper {
    background-color: #121116;
    font-family: "Open Sans", sans-serif;
}
.social {
    font-size: 20px;
    text-transform: uppercase;
    padding: 40px 30px 15px 30px;
    display: inline-block;
    border-bottom: #fff solid 2px;
    letter-spacing: 1.3px;
}
.kasper_contain {
    text-align: center;
    padding-top: 100px;
}
.networks_icon {
    padding: 25px;
    margin-bottom: 45px;
}
.networks_icon img {
    margin-right: 20px;
}
.kasper_footer {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.kasper_footer span {
    color: #00c7fc;
}
