@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?90zpns');
  src:  url('fonts/icomoon.eot?90zpns#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?90zpns') format('truetype'),
    url('fonts/icomoon.woff?90zpns') format('woff'),
    url('fonts/icomoon.svg?90zpns#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
