* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
ul,
ol {
    list-style: none;
}
.icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #1275b9;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    border: 1px solid #1275b9;
    display: inline-block;
    overflow: hidden;
    transition: all 0.5s ease;
}
.icon:hover {
    background-color: #fff;
}
.icon_tablet {
    background-position: 18px 16px;
}
.icon_tablet:hover {
    background-position: 19px -73px;
}
.icon_cog {
    background-position: -82px 16px;
}
.icon_cog:hover {
    background-position: -82px -75px;
}
.icon_dash {
    background-position: -172px 5px;
}
.icon_dash:hover {
    background-position: -172px -85px;
}
