* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/ProximaNova-Light.woff");
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url("../fonts/ProximaNova-Regular.woff");
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: ProximaNovaLight; 
    font-size: 14px;  
}
ul,
ol {
    list-style: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding-top: 55px;
    text-align: center;
}
.clr {
    clear: both;
    height: 0;
    display: block;
    line-height: 0;
}
h3 {
    font-family: ProximaNovaRegular;
    margin-bottom: 15px;
    
}
p {
    width: 260px;
    margin: 0 auto;
}
.tablet {
    width: 320px;
    float: left;
}
.cog {
    width: 320px;
    float: left;
}
.dash {
    width: 320px;
    float: left;
}
.icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #1275b9;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    border: 1px solid #1275b9;
    display: inline-block;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}
.icon:hover {
    background-color: #fff;
}
.icon_tablet {
    background-position: 18px 16px;
}
.icon_tablet:hover {
    background-position: 19px -73px;
}
.icon_cog {
    background-position: -82px 16px;
}
.icon_cog:hover {
    background-position: -82px -75px;
}
.icon_dash {
    background-position: -172px 5px;
}
.icon_dash:hover {
    background-position: -172px -85px;
}
