/* ProximaNova-400 - latin-ext_latin */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/proxima_nova_regular.woff2') format('woff2')
         url('../fonts/proxima_nova_regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* FuturaPT-Heavy - latin-ext_latin */
  @font-face {
    font-family: 'FuturaPT';
    font-style: heavy;
    font-weight: 900;
    src: local(''),
         url('../fonts/FuturaPT-Heavy.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* PlayFair-400 - latin-ext_latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/playfair-display-v22-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/playfair-display-v22-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
