*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #464f54;
}

.pannel {
    width: 67%;
    min-width: 800px;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 20;

}

.title {
    width: 100%;
    height: 185px;
    background-color: #000;
    color: #fff;
    padding-left: 60px;
    padding-top: 45px;


}

label {
    display: block;
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 3px;

}

#title-input {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #767676;
}

input::placeholder {
    color: #fff;
}

.list_icons {
    width: calc(100% - 65px);
    height: 75px;
    background-color: #f1b82b;
    color: #fff;
    margin-left: 65px;
    padding-left: 40px;
    padding-top: 20px;
}

.list_icons ul li {
    display: inline-block;
}

.btn span {
    cursor: pointer;
    font-size: 30px;

}

.btn {
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin-right: 30px;
    opacity: 0.5;
}

.btn:hover {
    opacity: 1;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 150px;
    padding: 195px 120px 30px 125px;
    text-align: justify;
    position: relative;
    z-index: 0;

}

.container::before {
    content: '';
    position: absolute;
    border-left: 1px solid #767676;
    top: 0;
    left: 70px;
    height: 100%;
}
.pre_h {
    font-family: 'ProximaNova';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: #b4b4b4;
    margin-bottom: 40px;
    letter-spacing: 4px;

}

h1 {
    font-family: 'FuturaPT';
    font-style: heavy;
    font-weight: 900;
    font-size: 78px;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 4px;
}

.article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: -0.1px;
    padding-bottom: 25px;
    
}
.article .italic {
    font-size: 27px;
    line-height: 62px;
    color: #8f8f8f;
    font-style: italic;
    padding-bottom: 30px;
}

.article p span {
    font-style: italic;
}