* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
}
p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.container,
.main_content,
.foot {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}
.clr {
    clear: both;
    height: 0;
    display: block;
    line-height: 0;
}
header {
    padding-top: 35px;
    margin-bottom: 34px;
}
#logo {
    float: left;
    margin-top: 7px;
}
#main_menu {
    float: right;
    margin-right: 54px;
    margin-top: 15px;
}
#main_menu ul {
    list-style: none;
    text-align: right;
    font-size: 0;
}
#main_menu ul li {
    display: inline-block;
    margin-right: 28px;
}
#main_menu ul li.last {
    margin-right: 0;
}
#main_menu ul li a {
    color: #2f281e;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
#main_menu ul li a:hover {
    color: #f90;
    text-decoration: underline;
}
.header_buttons {
    float: right;
}
.btn {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 25px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.btn-white {
    background-color: #fff;
    color: black;
    border: 1px solid #bcd0e5;
}
.btn-white:hover {
    background-color: coral;
    color: cornsilk;
}
.btn-orange {
    background-color: #f90;
    color: #fff;
    border: 1px solid #f90;
}
.btn-orange:hover {
    background-color: tomato;
}
.header_buttons .btn-white {
    margin-right: 10px;
}
.thinking {
    background-image: url(../images/image-1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-top: 79px;
    margin-bottom: 106px;
}
h1,
p,
.thinking_buttons {
    width: 458px;
}
h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
    margin-bottom: 30px;
}
.thinking p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}
.btn-transparent {
    border: none;
    background-image: url(../images/arrow-watch.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left, center;
    color: #f90;
}
.btn-transparent:hover {
    border: tomato;
    background-color: wheat;
}
.thinking_buttons .btn-orange {
    margin-right: 30px;
}
.tools {
    padding-bottom: 90px;
    margin-bottom: 120px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2f281e;
}
.for-tools {
    width: 539px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 54px;
}
.tools_content {
    margin-bottom: 34px;
}
.tools h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}
.tools p {
    width: auto;
}
.tools_content ul {
    list-style: none;
}
.tools_content ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.tools_content a {
    display: block;
    height: 50px;
    width: 50px;
}
.tools-icon {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 19px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    padding-top: 15px;
    margin-bottom: 30px;
}
.tools-icon:hover {
    border: 3px solid black;
}
.first_click {
    float: left;
    width: 240px;
    margin-right: 45px;
}
.arrow {
    background-color: #7752be;
}

.surveys {
    float: left;
    width: 240px;
    margin-right: 45px;
}
.wave {
    background-color: #fab005;
}
.preference {
    float: left;
    width: 240px;
    margin-right: 45px;
}
.heart {
    background-color: #f03e3d;
}
.second {
    float: left;
    width: 240px;
}
.clock {
    background-color: #4dadf7;
}

.btn-uppercase {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.professionals {
    background-image: url(../images/image-2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 101px;
}

.for-professionals {
    margin-bottom: 22px;
}
h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2f281e;
    margin-bottom: 12px;
}
.professionals p {
    margin-bottom: 30px;
}
#preh {
    line-height: 24px;
    margin-bottom: 3px;
}
.product {
    background-image: url(../images/image-3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-bottom: 104px;
}
.right {
    float: right;
}
/*почему-то не работал вариант без float через margin-left: auto;*/
.check {
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: left;
}
.for-product {
    margin-bottom: 22px;
}
.right p {
    margin-bottom: 30px;
}

.check p {
    padding-left: 65px;
}
#preh-product {
    margin-bottom: 3px;
}
#shoter {
    width: 430px;
}
.marketers {
    background-image: url(../images/image-4.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 146px;
}
.marketers h2 {
    margin-bottom: 22px;
}
.marketers p {
    width: 486px;
    margin-bottom: 30px;
}
#preh-marketers {
    line-height: 24px;
    margin-bottom: 3px;
}
.marketers p:last-child {
    margin-bottom: 39px;
}
.foot {
    border-top: 1px solid #bcd0e5;
}
#foot-logo {
    float: left;
    margin-top: 106px;
    margin-right: 126px;
}
.foot-menu {
    float: left;
    margin-top: 180px;
    margin-bottom: 83px;
    margin-right: 82px;
}
.foot-menu ul {
    list-style: none;
    text-align: left;
}
.foot-menu ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
.foot-menu ul li a:hover {
    color: #f90;
    text-decoration: underline;
}

.left-menu {
    float: left;
    margin-right: 129px;
}
.right-menu {
    float: right;
}
.sign-form {
    float: left;
    margin-top: 193px;
}
#email {
    width: 325px;
    height: 48px;
    margin-bottom: 21px;
}
