@media screen and (max-width: 1200px) {
  .content__title--white {
    font-size: 60px;
  }

  .white-section .white-container .content-block__item--white {
    width: 50%;
  }

  .main-contact .contact-title {
    width: 50%;
  }

  .main-contact .main-contact__form {
    gap: 70px;
  }
  .main-contact .main-contact__form .contact-form {
    width: calc(50% - 35px);
  }
}
@media screen and (max-width: 1000px) {
  .services .services-content {
    padding: 30px 0 30px 0;
  }
  .services .services-content .services-list .services-list__item .services-list__item--link {
    font-size: 17px;
  }

  .subscribe {
    padding: 50px 20px;
  }
  .subscribe .container .subscribe-content__inner {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
  }
  .subscribe .container .subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .subscribe .container .subscribe-form .subscribe-form_textarea {
    width: 80%;
  }
}
@media screen and (max-width: 870px) {
  .white-section:before {
    opacity: 0.7;
  }

  .white-section .white-container .content-block__item--white {
    width: 70%;
  }

  .about-content {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-content .about-content__img {
    margin-left: 0;
  }
  .about-content .content__title--white {
    text-align: center;
  }

  .subscribe .subscribe-content__inner {
    width: 90%;
  }

  .blog {
    padding: 70px 0;
  }
  .blog .blog-content__inner {
    width: 70%;
  }
  .blog .blog-content__inner .content__title--white {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 810px) {
  #main_menu {
    display: none;
  }

  #hamburger_menu {
    display: block;
  }

  .white-section {
    padding: 150px 0;
  }

  .services {
    padding-top: 0px;
  }
  .services:before {
    opacity: 0.5;
  }
  .services .services-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
  }
  .services .services-content .services-list {
    width: 70%;
  }
  .services .services-content .services-list .services-list__item {
    height: 60px;
  }
  .services .services-content .services-list .services-list__item .services-list__item--text {
    padding: 15px 0;
  }
  .services .services-content .services-list .services-list__item--icon {
    width: 20%;
    height: 20%;
  }
  .services .services-content .content__title--white {
    margin-bottom: 10px;
    padding: 20px;
  }

  .gallery_grid {
    grid-template-columns: 50% 50%-15px;
  }
  .gallery_grid .big_pic {
    grid-area: span 1/span 2;
  }
  .gallery_grid .pic:last-child {
    grid-column: 2/3;
  }
  .gallery .gallery-content__inner {
    width: 90%;
  }
  .gallery .gallery-content__inner .content__title {
    font-size: 60px;
  }

  .blog .articles {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-contact {
    padding-top: 50px;
  }
  .main-contact .contact-title {
    width: 90%;
  }
  .main-contact .contact-title .content__title {
    font-size: 60px;
  }
  .main-contact .main-contact__form {
    flex-direction: column;
    gap: 50px;
  }
  .main-contact .main-contact__form .contact-form {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    height: 170px;
  }
  .footer .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .white-section .white-container .content-block__item--white .content__title--small {
    font-size: 40px;
  }

  .about-content__img {
    flex-basis: 30%;
  }

  .about-content__inner {
    flex-basis: 70%;
  }

  .services .services-content .services-list {
    width: 90%;
  }
  .services .services-content .services-list .services-list__item .services-list__item--text {
    width: 85%;
  }
  .services .services-content .services-list .services-list__item .services-list__item--icon {
    width: 15%;
    height: 50%;
  }

  .blog .blog-content__inner {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .content__title--white {
    font-size: 40px;
  }

  .subscribe .subscribe-content__inner {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
  }
  .subscribe .subscribe-content__inner .subscribe__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 400px) {
  .services .services-content .services-list .item-planet {
    height: 80px;
    padding: 0 5px;
  }
  .services .services-content .services-title {
    margin-bottom: 5px;
  }

  .services .item-planet .planet {
    overflow: hidden;
    vertical-align: middle;
  }
}