@media screen and (max-width:1200px) {
    .content__title--white {
       font-size: 60px;
    }    
}
@media screen and (max-width:1000px) {
    .services {
        .services-content {
            padding: 30px 0 30px 0;
            .services-list {                   
                .services-list__item {                                                 
                    .services-list__item--link {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .subscribe {
        padding: 50px 20px;
        .container {       
        .subscribe-content__inner {
            background-color: rgb(255, 255, 255, .5);
            border-radius: 20px;
            padding: 10px 10px 10px 20px;
        }
        .subscribe-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .subscribe-form_textarea {
                width: 80%;
            }
        }
    }
}
}

@media screen and (max-width:870px) {
    .about-content {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;   
        justify-content: center;            
        .about-content__img {                        
            margin-left: 0;                     
        }        
        .content__title--white {
            text-align: center;            
        }
    }
    .subscribe {
        .subscribe-content__inner {
            width: 90%;            
        }
    }
    .gallery {
        padding: 70px;
        .gallery-content__inner {
            width: 90%;
        }
    }
}

@media screen and (max-width:810px) {
    .services {
        padding-top: 0px;
        &:before {
            opacity: .5;
        }       
        .services-content {
            display: flex;                        
            flex-direction: column-reverse;
            justify-content: center;                           
            padding: 0;            
            .services-list {
                width: 70%;
                .services-list__item {
                    height: 60px;
                    .services-list__item--text {
                        padding: 15px 0;                   
                    }
                }                
                .services-list__item--icon {
                    width: 20%;
                    height: 20%;                                                          
                    }                     
            }
                .content__title--white {
                    margin-bottom: 10px;
                    padding: 20px;                 
                }              
        
        }
    
    }
    .gallery_top {
        flex-wrap: wrap;
        .big_pic {
            width: 100%;
            margin-bottom: 30px;
            .w66 {
                box-shadow: none;
            }
        }
        .top_pics_wrap {            
            width: 100%;
            flex-direction: row;
            .pic {
                width: calc(50% - 10px);
                .w33 {
                    box-shadow: none;
                }
            }
        }
    }
    .gallery_bottom {
        .pic {
            width: calc(50% - 10px);
            .w50 {
                box-shadow: none;
            }
        }
    }    
}

@media screen and (max-width:600px) {
    .about-content__img {
        flex-basis: 30%;                             
    }
    .about-content__inner {
        flex-basis: 70%;            

    }
    .services {         
        .services-content {
            .services-list {
                width: 90%;                     
                .services-list__item {                                                
                    .services-list__item--text {
                        width: 85%;                                       
                        }
                    .services-list__item--icon {
                        width: 15%;
                        height: 50%;                                                          
                        }
                                                     
                }      
                                 
            }        
               
        }
    }
    .gallery {
        .gallery-content__inner {
            width: 100%;
            margin-bottom: 15px;
        .content__title {
            font-size: 60px;
            margin-bottom: 30px;
        }
    }
        .gallery_top {
            margin-bottom: 15px;
            .big_pic {
                margin-bottom: 15px;
            }
            .top_pics_wrap {
                gap: 15px;
            }
        }
    }
}
    

@media screen and (max-width:450px) {
    .content__title--white {
        font-size: 40px;                 
    }    
    .gallery_bottom .pic .gallery_top .top_pics_wrap .pic {
        width: 100%;
    }
    .gallery_bottom_pic {
        flex-wrap: wrap;
        &:first-child {
            margin-bottom: 20px;
        }
    }
    .subscribe {
        .subscribe-content__inner {
            background-color: rgb(255, 255, 255, .7);
            border-radius: 5px;
            .subscribe__title {
                font-size: 26px;
            }                    
        }
        
    }
    
}
@media screen and (max-width:400px) {
    .services {
        .services-content {
            .services-list {
                .item-planet {
                    height: 80px;                             
                    padding: 0 5px;
                }
            }
            .services-title {
                margin-bottom: 5px;                
            }
        }
    }
    .services .item-planet .planet {
        overflow: hidden;
        vertical-align: middle;      
    }    
}