@media screen and (max-width: 1200px) {
  .content__title--white {
    font-size: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .services .services-content {
    padding: 30px 0 30px 0;
  }
  .services .services-content .services-list .services-list__item .services-list__item--link {
    font-size: 17px;
  }
}
@media screen and (max-width: 870px) {
  .about-content {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-content .about-content__img {
    margin-left: 0;
  }
  .about-content .content__title--white {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 810px) {
  .services {
    padding-top: 130px;
  }
  .services .services-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
  }
  .services .services-content .services-list {
    width: 70%;
  }
  .services .services-content .services-list .services-list__item {
    height: 50px;
  }
  .services .services-content .services-list .services-list__item .services-list__item--text {
    padding: 10px 0;
  }
  .services .services-content .services-list .services-list__item--icon {
    width: 30%;
    height: 30%;
  }
  .services .services-content .content__title--white {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .about-content__img {
    flex-basis: 30%;
  }

  .about-content__inner {
    flex-basis: 70%;
  }

  .services .services-content .services-list {
    width: 100%;
  }
  .services .services-content .services-list .services-list__item {
    height: 40px;
  }
  .services .services-content .services-list .services-list__item .services-list__item--text {
    width: 85%;
    padding: 5px 0;
  }
  .services .services-content .services-list .services-list__item .services-list__item--icon {
    width: 15%;
    height: 50%;
  }
  .services .services-content .content__title--white {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .services .planet {
    padding: 0;
    overflow: hidden;
  }
}