$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: all .5s ease;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: 'Raleway';
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top; 
    width: 100%;   
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    width: 200px;
    height: 55px;
    border: none;
    font-weight: 300;
    @include fz(20);    
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
}
.content__title {
    @include fz(90);
    line-height: 27px;
    font-weight: 700;
}
.content__text {
    font-weight: 300;
    @include fz(17);    
    line-height: 27px;
}

/*about*/
.about {
    background-color: #00b0b0;
    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;        
        &__img {
            flex-basis: 62%;
            position: relative;
            margin-left: -40px;
        }
        &__inner {
            color: #fff; 
            flex-basis: 38%;           
            .content__title--white {
                margin-bottom: 45px;
            }
            .content__text--white {
                margin-bottom: 10px;
            }
        }
    }
}
/*services*/
.services {
    background-color: #70bfff;
    .services-content {
        background: url(../images/bgi-tomato.png) center right no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 180px 120px 130px 0;
        .services-list {
            width: 40%;            
            .services-list__item {
                width: 100%;
                height: 100px;
                background-color: #fff;
                box-shadow: 0px 4px 5px 1px #45769e;
                margin-bottom: 20px;                
                .services-list__item--link {
                    display: flex;
                    align-items: center;                                        
                    color: #000;                                      
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    font-weight: 700;
                    @include fz(20);                    
                    line-height: 27px;                     
                    &:hover {
                        background-color: #bdbaba;
                    }                
                }
                .services-list__item--text {                    
                    border-right: 1px solid #9d9d9d;
                    width: calc(75% - 1px);
                    height: 100%;                                                            
                    padding: 35px 0;
                }
                .planet {
                    padding: 20px;
                }
                .services-list__item--icon {
                    width: 25%;
                    height: 50%;                                                          
                }
            }
        }
        .content__title--white {
            color: #fff;
            position: relative;
            margin-top: -100px;
        }    
    }
}

.gallery {    
    background-color: yellow;
    padding: 30px 0;
    &_top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .big_pic {
            flex-basis: calc(66.6666% - 15px);
        }
        .top_pics_wrap {
            flex-basis: calc(33.3333% - 15px);
            display: flex;            
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;            
        }
    }
    &_bottom {
        display: flex;
        justify-content: space-between;
        .pic {
            flex-basis: calc(50% - 15px);
        }

    }
}













.footer {
    width: 100%;
    height: 100px;
    background-color: #262626;    
    .footer-content {
        width: 90%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-content__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: #6b6b6b;
        }
        .image__logo--small {
            width: 70px;
            height: 30px;
        }
        .footer-content__text--small {
            font-size: 15px;
            .footer-content__text--pink {
                font-weight: 700;
                color: #ff2b58;
            }
        }
    }    
}