@import "hamburger";

$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: 'Raleway';
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    &:focus {
        border: 2px solid transparent;
    }
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    width: 200px;
    height: 55px;
    border: none;
    font-weight: 300;
    @include fz(20);    
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    &:focus {
        border: 2px solid #666;
    }
}
.content__title {
    @include fz(90);
    line-height: 27px;
    font-weight: 700;
}
.content__text {
    font-weight: 300;
    @include fz(17);    
    line-height: 27px;
}

/*header*/
header {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,.8);
    z-index: 10;    
    transition: all .2s ease;
    .header-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;        
    }
    &.scrolled {
        height: 100px;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 5px #999;
        backdrop-filter: blur(3px);
    }         
    
}
main {
    padding-top:70px;
}

#main_menu {
    ul {        
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;        
        li {
            + li {
                margin-left: 27px;                
            }
            a {
                display: inline-block;
                position: relative;
                width: 100%;
                height: 100%;                
                padding: 10px;
                color:#000;                
                font-weight: 700;
                @include fz(16);
                line-height: 25px;
                &:last-child {
                    padding-right: 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 0px;
                    height: 4px;
                    background-color: #ff6033;            
                    top: 0;
                    left: 10px;
                    transition: all .2s ease;                       
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        width: calc(100% - 10px);
                    }
                }                                 
            }
        }
    }    
}


#hamburger_menu {
    display: none;
    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        svg {
            width: 40px;
            height: 40px;
        }
    }
}

#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
    z-index: 999;
    backdrop-filter: blur(5px);
}
#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: #FFE4B5;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px #000;
    transition: all .4s ease;
    z-index: 1000;
    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
    img {
        width: 115%;
    }
}
.sidemenu_top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sidemenu {
    li {
        border-bottom: 1px solid #666;
        a {
            display: inline-block;
            padding: 15px;            
            @include fz(20);            
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            color: #708090;

        }
    }
}
.open {
    #page_overlay {
        display: block;
    }
    #mobile_menu_wrap {
        left: 0;
    }
    #hamburger--slider .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
    #hamburger--slider .hamburger-inner::before {
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          opacity: 0; }
    #hamburger--slider .hamburger-inner::after {
          transform: translate3d(0, -20px, 0) rotate(-90deg); }
}

/*white-section*/
.white-section {
    background: url(../images/bg-1.jpg) bottom center/cover no-repeat;
    height: 100vh;
    padding: 280px 0;
    position: relative;
    &:before {
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.7);
        transition: all .5s ease;
        z-index: 1;
    }    
    .white-container {
        position: relative;
        z-index: 2;       
        .content-block__item--white {            
            width: 32%;
            .content__title--small {
                @include fz(60);
                font-weight: 900;
                line-height: 25px;
                margin-bottom: 35px;
            }
            .content__text {
                margin-bottom: 25px;
            }
            .btn-orange {
                background-color: #ff6033;
                color: #fff;
                box-shadow: 0px 4px 5px 1px #827D7A;
                margin-bottom: 400px;
                &:hover {
                    background-color: #aa2804;
                    box-shadow: 0px 2px 2px 1px #827D7A;
                    }
            }
        }
    }
}

/*about*/
.about {
    background-color: #00b0b0;
    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0;                
        &__img {
            flex-basis: 57%;
            position: relative;
            margin-left: -40px;
        }
        &__inner {
            color: #fff; 
            flex-basis: 43%;
            padding-bottom: 15px;           
            .content__title--white {                
                margin-bottom: 45px;
            }
            .content__text--white {
                margin-bottom: 10px;
            }
        }
    }
}
/*services*/
.services {    
    background-color: #70bfff;
    position: relative;
    &:before {
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        transition: all .5s ease;
        z-index: 1;
    }
    .services-content {
        background: url(../images/bgi-tomato.png) center right no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 180px 0 130px 95px;
        position: relative;        
        .services-list {
            width: 37.5%;
            position: relative;
            z-index: 2;            
            .services-list__item {
                width: 100%;
                height: 100px;
                background-color: #fff;
                box-shadow: 0px 4px 5px 1px #45769e;
                margin-bottom: 20px;                
                .services-list__item--link {
                    display: flex;
                    align-items: center;                                        
                    color: #000;                                      
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    font-weight: 700;
                    @include fz(20);                    
                    line-height: 27px;                     
                    &:hover {
                        background-color: #bdbaba;
                    }                
                }
                .services-list__item--text {                    
                    border-right: 1px solid #9d9d9d;
                    width: calc(76% - 1px);
                    height: 100%;                                                            
                    padding: 35px 0;
                }
                .planet {
                    padding: 20px;
                }
                .services-list__item--icon {
                    width: 24%;
                    height: 50%;                                                          
                }
            }
        }
        .content__title--white {
            color: #fff;
            position: relative;
            padding-bottom: 100px;
            z-index: 2;            
        }    
    }
}

.gallery {    
    background-color: #ffe92f;
    padding: 120px 0;
    &_grid {
        display: grid;        
        grid-template-columns: (50% 16% 34%) - 15px;
        gap: 30px;
        margin-bottom: 50px;
    }
    .photo {
        width: 100%;
        box-shadow: 4px 5px 10px #000;
    }
    .big_pic {
        grid-area: span 2/span 2;
    }
    .pic:last-child {
        grid-column: 2/4;
    }
    .gallery-content__inner {    
        text-align: center;
        width: 50%;
        margin: 0 auto 40px;
        .content__title {
            margin-bottom: 60px;
        }
    }
    .button {
        text-align: center;
        margin: 0 auto;
        .btn-blue {
            background-color: #5585a2;            
            box-shadow: 2px 0px 5px #000;
            text-transform: uppercase;        
            &:hover {
            background-color: #155279;
            }         
        }
    }
}

/*subscribe*/
.subscribe {
    background: url(../images/bgi-berry.png) center right/cover no-repeat;
    padding: 145px 0 165px 0;
    .subscribe-content__inner {
        width: 50%;
        margin-bottom: 25px;
        .subscribe__title {
            font-weight: 700;
            @include fz(40);
            line-height: 27px;
            margin-bottom: 30px;
        }
    }
    .subscribe-form_textarea {
        width: 570px;
        height: 55px;
        color: #929292;
        font-weight: 300;
        @include fz(15);
        line-height: 27px;
        padding: 20px 16px;
        margin-right: 25px;
        &:focus {
            font-weight: 700;
            border: 2px solid #000;
        }            
    }
    .btn-green {
        background-color: #96b92c;           
        box-shadow: 2px 0px 5px #000;
        width: 170px;
        &:hover {
            background-color: #5f7a0b;
        }
    }        
}

/*blog*/
.blog {
    background-color: #b07cf7;
    padding: 120px 0;
    .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &__inner {
            text-align: center;
            width: 50%;
            margin: 0 auto 40px;
            color: #fff;
            .content__title--white {
                margin-bottom: 60px;
            }
        }
    }
    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;        
        gap: 30px;
        margin-bottom: 50px;
        .article {                       
            position: relative;
            transition: all 0.5s ease;
            color: #fff;            
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
            &:hover .date {
                top: 30px;
                left: 30px;
                z-index: 20;
                opacity: 0.8;
            }
            .picture {              
                position: relative;                                
                width: 100%;                
                height: 100%;                                              
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;                    
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(180deg, #DFDFDD03 59%, #010303FA 96%);
                    opacity: 1.1;
                }
                .pic {
                    width: 100%;                    
                    box-shadow: 2px 5px 20px 4px #6a4b95;
                    }
                       
            }
            .article_content {
                position: absolute;
                left: 20px;
                bottom: 20px;
                z-index: 30px;
                line-height: 25px;                
                & h5 {
                    font-weight: 700;
                    @include fz(18);                    
                    margin-bottom: 12px;
                    letter-spacing: 1px;
                }
                & p {
                    font-weight: 300;
                    @include fz(16);                    
                }
            }
            .date {
                position: absolute;
                width: 60px;
                height: 60px;
                font-weight: 700;
                border-radius: 4px;
                line-height: 25px;
                @include fz(32);                
                background-color: #494f5a;
                text-transform: uppercase;
                text-align: center;
                top: 0;
                left: 0;
                z-index: -10;
                transition: all 0.5s ease;
                span {
                    @include fz(21);                    
                }             
            }
            
        }       
    
    }
    .btn-red {
        background-color: #f72b3b;
        box-shadow: 0px 3px 5px 2px #6a4b95;
        &:hover {
            background-color: #9e0202;            
        }
    }
}
// form
.main-contact {
    background: url(../images/bgi-form.png) center center/cover no-repeat;
    padding: 120px 0 50px 0;
    .contact-title {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        width: 30%;
        .content__title {                
            margin-bottom: 60px;
            }
        }
    .main-contact__form {
        display: flex;            
        gap: 170px;
        .contact-form {
            width: calc(50% - 85px);                
            .contact-list {
            &__item {
            width: 98%;
            height: 50px;
            display: block;                        
            margin-bottom: 15px;                        
            .contact-list_textarea {
                height: 100%;
                width: 100%;
                background-color: #00c4c4;
                opacity: 60%;
                border: none;
                outline: none;
                color: #fff;
                font-weight: 300;
                @include fz(16);                
                line-height: 25px;
                padding: 20px;                
                &::placeholder {
                color: #fff;
                font-weight: 300;
                @include fz(16);                
                line-height: 25px;
                }
                &:focus {
                    border-left: 5px solid #355b82;
                    font-weight: 700;
                    }
                }
            }
                .contact-list__item--big {
                    height: 250px;                   
                    .contact-list_textarea {
                        resize: none;                                                        
                    }
                }
            }
                .btn-green {
                    background-color: #96b92c;           
                    box-shadow: 2px 0px 5px #000;                   
                    &:hover {
                        background-color: #5f7a0b;
                    }
                }        
            }
            .contact-data {                
                display: flex;
                flex-direction: column;                 
                .contact-data_item--bold {
                    font-weight: 700;
                    @include fz(17);                    
                    line-height: 25px;
                    text-transform: uppercase;
                }
                .contact-data_item--light {
                    font-weight: 300;
                    @include fz(20);                    
                    line-height: 25px;
                    margin-bottom: 7px;
                }              
            }
        }
    }

    // footer
.footer {
    width: 100%;
    height: 100px;
    background-color: #262626;
    padding-top: 30px;        
    .footer-content {        
        display: flex;
        justify-content: space-between;
        align-items: center;        
        align-content: center;
        .footer-content__text {
            font-weight: 300;
            @include fz(16);            
            line-height: 25px;
            color: #6b6b6b;
        }
        .image__logo--small {
            width: 70px;
            height: 30px;
        }
        .footer-content__text--small {            
            .footer-content__text--pink {
                font-weight: 700;
                color: #ff2b58;
            }
        }
    }    
}