$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: all .5s ease;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: 'Raleway';
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    width: 200px;
    height: 55px;
    border: none;
    font-weight: 300;
    @include fz(20);    
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff
}
.content__title {
    @include fz(90);
    line-height: 27px;
    font-weight: 700;
}
.content__text {
    font-weight: 300;
    @include fz(17);    
    line-height: 27px;
}

/*about*/
.about {
    background-color: #00b0b0;
    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0;                
        &__img {
            flex-basis: 57%;
            position: relative;
            margin-left: -40px;
        }
        &__inner {
            color: #fff; 
            flex-basis: 43%;
            padding-bottom: 15px;           
            .content__title--white {                
                margin-bottom: 45px;
            }
            .content__text--white {
                margin-bottom: 10px;
            }
        }
    }
}
/*services*/
.services {
    background-color: #70bfff;
    .services-content {
        background: url(../images/bgi-tomato.png) center right no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 180px 0 130px 95px;
        .services-list {
            width: 37.5%;            
            .services-list__item {
                width: 100%;
                height: 100px;
                background-color: #fff;
                box-shadow: 0px 4px 5px 1px #45769e;
                margin-bottom: 20px;                
                .services-list__item--link {
                    display: flex;
                    align-items: center;                                        
                    color: #000;                                      
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    font-weight: 700;
                    @include fz(20);                    
                    line-height: 27px;                     
                    &:hover {
                        background-color: #bdbaba;
                    }                
                }
                .services-list__item--text {                    
                    border-right: 1px solid #9d9d9d;
                    width: calc(76% - 1px);
                    height: 100%;                                                            
                    padding: 35px 0;
                }
                .planet {
                    padding: 20px;
                }
                .services-list__item--icon {
                    width: 24%;
                    height: 50%;                                                          
                }
            }
        }
        .content__title--white {
            color: #fff;
            position: relative;
            padding-bottom: 100px;
            
        }    
    }
}

/*gallery*/
.gallery {    
    background-color: #ffe92f;
    padding: 120px 0;    
    &_top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;        
        flex-wrap: wrap;
        margin-bottom: 30px;
        .big_pic {
            flex-basis: calc(66.6666% - 15px);            
            .w66 {
                box-shadow: 4px 0px 10px #000;
            }
        }
        .top_pics_wrap {
            flex-basis: calc(33.3333% - 15px);
            display: flex;            
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            .w33 {
                box-shadow: 2px 0px 5px #000;
            }            
        }
    }
    &_bottom {
        display: flex;
        justify-content: space-between;        
        margin-bottom: 50px;
        .pic {
            flex-basis: calc(50% - 15px);
            .w50 {
            box-shadow: 2px 0px 5px #000;
            }
        }

    }
}
.gallery-content__inner {    
    text-align: center;
    width: 50%;
    margin: 0 auto 40px;
    .content__title {
        margin-bottom: 60px;
    }
}
.button {
    text-align: center;
    margin: 0 auto;
    .btn-blue {
        background-color: #5585a2;            
        box-shadow: 2px 0px 5px #000;
        text-transform: uppercase;        
        &:hover {
            background-color: #155279;
            }         
    }
}
/*subscribe*/
.subscribe {
    background: url(../images/bgi-berry.png) center right/cover no-repeat;
    padding: 145px 0 160px 0;
    .subscribe-content__inner {
        width: 50%;
        margin-bottom: 25px;
        .subscribe__title {
            font-weight: 700;
            @include fz(40);
            line-height: 27px;
            margin-bottom: 30px;
        }
    }
    .subscribe-form_textarea {
        width: 570px;
        height: 55px;
        color: #929292;
        font-weight: 300;
        @include fz(15);
        line-height: 27px;
        padding: 20px 16px;
        margin-right: 25px;
        &:focus {
            font-weight: 700;
            border: 2px solid #000;
        }            
    }
    .btn-green {
        background-color: #96b92c;           
        box-shadow: 2px 0px 5px #000;
        width: 170px;
        &:hover {
            background-color: #5f7a0b;
        }
    }        
}

/*blog*/










.footer {
    width: 100%;
    height: 100px;
    background-color: #262626;    
    .footer-content {
        width: 90%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-content__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: #6b6b6b;
        }
        .image__logo--small {
            width: 70px;
            height: 30px;
        }
        .footer-content__text--small {
            font-size: 15px;
            .footer-content__text--pink {
                font-weight: 700;
                color: #ff2b58;
            }
        }
    }    
}