*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 150px auto;
    padding-left: 30px;
    border: 1px solid #cccaca;
    box-shadow: 5px 2px 5px #c7c5c5;
    padding: 140px 120px 130px 120px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

.first::first-letter {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 110px;
    line-height: 34px;
    float: left;
    padding: 25px 30px 30px 0;
}

blockquote p {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;

}

blockquote span {
    font-size: 60px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-right: 25px;
}

.button {
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 34px;
    color: #eaa258;
    text-align: center;
    width: 265px;
    height: 70px;
    border: 1px solid #eaa258;
    cursor: pointer;
    letter-spacing: 2px;
}

.button:hover {
    background-color: #f17c04;
    color: #fff;
}