@font-face {
    font-family: Miso;
    src: url(../fonts/miso-bold.woff);
    src: url(../fonts/miso-bold.woff2);
    src: url(../fonts/miso-regular.woff);
    src: url(../fonts/miso-regular.woff2);
}
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #fdde7e;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;        
    font-family: Miso;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: baseline; */
}
.card {
    width: 360px;
    height: 440px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #edd076;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    margin-top: 80px;
    padding-top: 45px;        
}
.gold {
    height: 500px;
    margin-top: 50px;
    padding-bottom: 30px;
}
.price {
    font-size: 70px;
    line-height: 24px;
    font-weight: 700;
    color: #02995b;
   }


.name {
    font-size: 56px;
    line-height: 24px;    
}
.discription {
    width: 160px;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}