@media screen and (max-width:1200px) {
//     .container {
//         padding-bottom: 85px; 
//     .main-content {
//         grid-template-columns: 50% 50%;
//     }
// }
}
@media screen and (max-width:1200px) {
    
}