@media screen and (max-width: 1000px) {
  main .main-content {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 660px) {
  main {
    padding: 45px 0 0 0;
  }
  main .main-content {
    grid-template-columns: 100%;
  }
  main .main-content .big_card {
    grid-area: span 1/span 1;
    overflow: hidden;
    width: 110%;
  }
  main .main-content .big_card .picture img {
    position: relative;
    right: 10%;
  }
}