$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
@font-face {
    font-family: HansKendrik;
    src: url(../fonts/HansKendrick-Regular.woff);
    src: url(../fonts/HansKendrick-Regular.woff2);
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: HansKendrik;
    font-size: 1rem;
    min-width: 350px;
    background-color: #e2e7ec;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    &:focus {
        border: 2px solid transparent;
    }
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
h3 {
    @include fz(22);    
    line-height: 30px;
    padding: 0 0 10px 27px;
    text-transform: uppercase;
    letter-spacing: 0.4px; 
}
p {
    @include fz(16);    
    line-height: 30px;
    color: #818181;
    padding: 20px 25px 0;
    margin-bottom: 5px;
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}
main {
    padding-top: 90px;
    .main-content {   
    display: -ms-grid;   
    display: grid;    
    -ms-grid-rows: 1fr 20px 1fr;    
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;    
        grid-template: repeat(2, 1fr ) / repeat(3, 1fr);
    gap: 20px;
    .big_card {
        width: 100%;
        height: 100%;
        position: relative;
        grid-area: span 1 / span 2;
        &:after {
            content: '';            
            position: absolute;
            width: 100%;
            height: 100%;            
            top: 0;
            left: 0;            
            background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(0, 0, 0, 20)));            
            background-image: -o-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 20) 100%);            
            background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 20) 100%);
            opacity: 0.1;                       
            }
        .picture {
            width: 100%;
            height: 100%;
        }
    }
    .big-content {
        position: absolute;
        z-index: 30;
        bottom: 35px;
        left: 43px;
        width: 70%;
        letter-spacing: 0.4px;       
        h2 {
        color: #fff;
        @include fz(30);            
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: .1px;        
        }
        p {
        padding-left: 5px;
        margin-bottom: 5px;
        }
    }    
    .card {
        grid-area: span 1 / span 1;
        background-color: #fff;
        position: relative;
        padding-bottom: 125px;
        .icon {
            position: absolute;
            bottom: 25px;
            left: 25px;
            }
        }

    }
}

footer {
    text-align: center;
    padding: 55px;
    
    .load {
        width: 20px;
        height: 20px;        
        display: inline-block;        
    }  
    p {
    display: inline-block;
    padding-left: 15px;
    }
}