*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Lato";
  padding-top: 115px;
}

.main-title {
  width: 570px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  color: #3c3c3c;
}

h1:after {
  content: "";
  position: absolute;
  border-top: 3px solid #979696;
  top: 55px;
  left: 260px;
  width: 50px;
}

.main-title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.flip-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}

.flip-cards {
  background-color: transparent;
  width: 270px;
  height: 270px;
  perspective: 1000px;
}

.flip-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  margin-bottom: 15px;
}

.flip-cards:hover .flip-item {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  background-color: #18b5dc;
  transform: rotateY(180deg);
  padding: 110px 65px;
}

li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #5ecbe7;
  padding-top: 5px;
}

ul,
li,
a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.card-title h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.card-title p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #646464;
}